<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS - Guia completo</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
    <h2>Produtos</h2>
    <ul>
        <li v-for="produto in produtos"> {{texto }} {{produto}}</li>
    </ul>
    <hr>
    <ul>
        <li v-for="produto of produtos"> {{texto }} {{produto}}</li>
    </ul>
</div>

<script type="text/javascript">
    new Vue({
       el: '#app',
        data: {
           texto: 'Produto: ',
           produtos: [
               'Monitor',
               'Teclado',
               'Mouse'
           ]
        }

    });
</script>

</body>
</html>
